[Desktop Entry]

Type=Application
Version=1.0
Name=MagicFountain
Comment=A Fountain syntax editor and viewer for writing screenplays.
Path=/usr/local/bin/magicfountain
Exec=magicfountain
Icon=magicfountain
Terminal=false
Categories=Office;
GenericName=Fountain syntax editor and viewer
