[Desktop Entry]

Type=Application
Version=1.0
Name=MagicFountain
Comment=Screenwriter
Path=/usr/local/bin/magicfountain
Exec=magicfountain
Icon=magicfountain.png
Terminal=false
Categories=Office;
